<p id="notice"><%= notice %></p>

<div class="center">
    Permit ID: <%= @permit.id %>
    <br>
    Status: <%= @permit.status %>
    <br>
    Project: <%= @permit.project.name %>
    <br>
    Building: <%= @permit.building %>
    <br>
    Floor: <%= @permit.floor %>
</div>